<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xian52.mapper.PicMapper" >
    <resultMap id="pic" type="com.xian52.domain.Pic">
        <id property="id_" column="id_" />
       	<result property="parent_id" column="parent_id" />
        <result property="url_" column="url_" />
        <result property="path_" column="path_" />
        <result property="alt_" column="alt_" />
        <result property="width_" column="width_" />
        <result property="height_" column="height_" />
    </resultMap>
    
    <insert id="insert" parameterType="com.xian52.domain.Pic" useGeneratedKeys="true" keyProperty="id_">
       INSERT INTO pic
       		(parent_id,url_,path_,alt_,width_,height_) 
       	VALUES
       		(#{parent_id}, #{url_}, #{path_},#{alt_},#{width_},#{height_})
    </insert>
    <select id="getPicList" resultMap="pic">
		select * from pic where parent_id is null and path_ is not null
	</select>
	<select id="getChildPicList" parameterType="com.xian52.domain.Pic" resultMap="pic">
		select * from pic where parent_id = #{parent_id}
	</select>
	 <select id="getOneByUrl" parameterType="com.xian52.domain.Pic" resultType="com.xian52.domain.Pic">
		SELECT * FROM pic WHERE url_ = #{url_}
	</select>
	<select id="getPicListRandom" resultMap="pic">
		SELECT * FROM pic where parent_id is null and path_ is not null ORDER BY RAND() 
	</select>
</mapper>