body {
	font-family: "Microsoft Yahei", Î¢ÈíÑÅºÚ, "Helvetica Neue", Arial,
		sans-serif;
}

a {
	color: #222;
	background: 0 0;
	text-decoration: none;
	outline: 0;
	cursor: pointer;
	transition: color .2s ease;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h4 {
	color: #222;
	padding: 0;
	margin-bottom: 8px;
	font-size: 18px;
	font-weight: 700;
}

.more-mode .img-item:first-child {
    margin-left: 0;
}
.media-left{
	width:24%;
}
@media ( max-width : 768px) {
	.media-left{
		width:35%;
	}
}

.img-item1 {
    width: 158px;
    height: auto;
    margin-left: 2px;
}
@media ( max-width : 500px) {
	.img-item1 {
		width: 100%;
		height: auto;
		margin-left: 0px;
	}
}
@media ( max-width : 450px) {
	.img-item1 {
		width: 100%;
		height: auto;
		margin-left: 0px;
	}
}
@media ( max-width : 400px) {
	.img-item1 {
		width: 100%;
		height: auto;
		margin-left: 0px;
	}
}
@media ( max-width : 350px) {
	.img-item1 {
		width: 100%;
		height: auto;
		margin-left: 0px;
	}
}
.img-item {
    width: 24%;
    height: auto;
    margin-left: 2px;
}
@media ( max-width : 767px) {
	.img-item {
		width: 32%;
		height: auto;
		margin-left: 0px;
	}
}
@media ( max-width : 450px) {
	.img-item {
		width: 32%;
		height: auto;
		margin-left: 0px;
	}
}
@media ( max-width : 400px) {
	.img-item {
		width: 32%;
		height: auto;
		margin-left: 0px;
	}
}
@media ( max-width : 350px) {
	.img-item {
		width: 32%;
		height: auto;
		margin-left: 0px;
	}
}

.media-list h4 {
	display: inline;
	font-size: 18px;
	line-height: 24px;
	margin-top: 0;
	font-weight: bold;
}

.media-list h4 a {
	color: #555;
}

.media-list h4 a:hover {
	color: #45B6F7;
}

.excerpt .note {
	font-size: 12px;
	color: #999;
	word-wrap: break-word;
	line-height: 20px;
}

.excerpt header {
	margin-bottom: 10px;
}

.excerpt .meta {
	color: #999;
	font-size: 10px;
	margin-bottom: 5px;
}

.friend-links-content {
	overflow: hidden;
	margin-right: -20px;
	margin-bottom: -20px;
}

.friend-links-content .item {
	float: left;
	margin: 0 20px 20px 0;
}

.friend-links-content .item a {
	color: #777;
	line-height: 1.4;
	font-size: 14px;
}
.title-box {
    display: block;
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 4px;
    font-weight: 700;
    max-height: 52px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
.more-mode .img-list {
    position: relative;
    margin: 2px 0;
}
.bui-box {
    display: block;
    zoom: 1;
}

.img-wrap, .img-wrap:before {
    display: inline-block;
}
.img-wrap {
    position: relative;
    cursor: pointer;
    text-align: center;
/**    border: 1px solid #e8e8e8;**/
    background: #FFFFFF;
    overflow: hidden;
    max-height: 100px;
}
.img-wrap>img {
    display: inline-block;
    max-width: 100%;
    height: auto;
    vertical-align: top;
    transition: all .5s ease-out .1s;
}	
.footer-bar-action, .footer-bar-left {
    display: inline-block;
    vertical-align: middle;
}
.footer-bar-action {
    font-size: 14px;
    line-height: 1;
}
.footer-bar {
    font-size: 10px;
    color: #999;
    margin-bottom: 5px;
}

.footer-bar-left {
    font-size: 0;
    line-height: 20px;
}
.bui-left {
}

.container .index-channel {
    width: 110px;
    height: 600px;
    margin-right: 10px;
    background-color: #fff;
}
.channel {
    width: 110px;
}
.channel-item {
    display: block;
    width: 110px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #444;
    border-radius: 4px;
    margin-bottom: 2px;
    transition-property: color,background-color;
}
.channel-item.active {
    background-color: #ed4040;
    color: #fff;
}
.channel-item:hover{animation-name:hvr-back-pulse;animation-duration:.2s;animation-timing-function:linear;animation-iteration-count:1;background-color:#ed4040;color:white
}
.channel-item span {
    display: inline-block;
    font-size: 16px;
}
.pagination {
	margin: 0;
	padding: 20px;
	text-align: center;
	font-size: 12px;
	display: block;
}
.pagination ul {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-left: 0;
	margin-bottom: 0;
	padding: 0
}
.pagination ul > li {
	display: inline
}
.pagination ul > li > a,
.pagination ul > li > span {
	margin: 0 2px;
	float: left;
	padding: 5px 12px;
	background-color: #ddd;
	color: #666;
	border-radius: 2px;
	opacity: .88
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus {
	opacity: 1
}
.pagination ul > .active > a,
.pagination ul > .active > span {
	background-color: #45B6F7;
	color: #fff
}
.pagination ul > .active > a,
.pagination ul > .active > span {
	cursor: default
}
.pagination ul > li > span,
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
	color: #999999;
	background-color: transparent;
	cursor: default
}

.pagination-loading{font-size: 16px;text-align: center;color: #999;padding: 15px 0;}
.pagination-loading img{width: 80px}

.content-wrap {
	width: 100%;
	float: left;
}
.content {
	position: relative;
	min-height: 500px;
	margin-bottom: 15px;
}

.article-header{
	margin-bottom: 20px;
	padding: 25px 0;
	border-bottom: 1px solid #eee;
	text-align: center;
}
.article-title{margin-top: 0;font-size: 26px;line-height: 36px;}
.article-title a,
.article-title a:hover{
	color: #555;
	
}
.article-meta{
	font-size: 12px;
	color: #999;
}
.article-meta .item{
	margin-right: 20px;
}

.article-content{font-size:15px;line-height:25px;word-wrap:break-word;}
.article-content img{margin: 5px 0; display:block;max-width:100%;height:auto}
.article-content h2, .article-content h3, .article-content h4Ã¯Â¼Å’ .article-content h5{padding:10px 0;margin-bottom:18px;color: #555;font-weight:bold;}
.article-content h2{font-size:18px;font-weight:bold;margin:18px 0;border-bottom: 1px solid #eaeaea;}
.article-content h3{font-size:16px;}
.article-content h4{font-size:15px;}
.article-content h5{font-size:14px;}
.article-content ul, .article-content ol{margin:0 0 18px 50px}
.article-content ul{list-style: disc;}
.article-content ol{list-style: decimal;}
.article-content li{margin-bottom: 6px;}
.article-content p{margin-bottom:18px;word-wrap:break-word}
.article-content pre{word-wrap:break-word}
.article-content table{border-top:solid 1px #ddd;border-left:solid 1px #ddd;width:100%;margin-bottom:18px}
.article-content table th{background-color:#f9f9f9;text-align:center}
.article-content table td,.article-content table th{border-bottom:solid 1px #ddd;border-right:solid 1px #ddd;padding:5px 10px}
.article-content .alignnone{margin:0 auto;}
.article-content .alignleft{float:left;text-align:left;margin-right:10px}
.article-content .aligncenter{margin: 0 auto;text-align: center;display: block;}
.article-content .alignright{float:right;text-align:right;margin-left:10px}
.article-content .wp-caption{margin-bottom: 18px;background-color: #f6f6f6;padding: 10px 10px 1px;max-width: 100%}
.article-content .wp-caption img{margin: 0 0 5px;}
.article-content .wp-caption p{margin-bottom: 10px;text-indent: 0;}
.article-content .wp-caption.alignnone{text-align: center;}
.article-content .wp-caption:hover .wp-caption-text{color: #45B6F7;}
.article-content a{text-decoration:underline;color: #45B6F7;}
.article-content a:hover{color: #FF5E52;}

.article-content pre,.comment pre{margin:20px 0;font:12px/20px 'courier new';background:#272822;padding:10px 15px;color:#F8F8D4;border:none}
.article-content blockquote{margin: 30px 30px;padding: 15px 20px 1px;font-size: 16px;color: #999;border-left: 5px solid #EEE;}
.article-content blockquote p{margin:0;padding:0;margin-bottom: 10px;}

.p_indent .article-content p{text-indent: 30px;}

.footer{
	position: relative;
	z-index: 9;
	clear: both;
	padding: 40px 30px;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	color: #999;
	background-color: #fff;
	border-top: 1px solid #eaeaea;
	/*box-shadow: 1px 0 4px rgba(0,0,0,0.04)*/
}